AWS_REGION=ap-south-1
NVOS_EC2_LAUNCH_TEMPLATE_ID=
AWS_WINDOWS_LAUNCH_TEMPLATE_ID=
GUACAMOLE_URL=
GUACAMOLE_PUBLIC_URL=
GUACAMOLE_USERNAME=
GUACAMOLE_PASSWORD=
GUACAMOLE_RDP_PASSWORD=
GUACAMOLE_JSON_SECRET=
NVOS_CONTROL_SECRET=
NVOS_VM_BASE_DOMAIN=vm.nvos.in
CADDY_ADMIN_URL=http://127.0.0.1:2019
NVOS_CONTROL_HOST=127.0.0.1
NVOS_CONTROL_PORT=3001
